<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Persons</title>
</head>
<body>
<div>
    <h2>List Persons</h2>
    <hr/>
    <table border="1">
        <thead>
        <tr>
            <th>Login</th>
            <th>Password</th>
            <th>Points</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person: ${persons}">
            <td th:text="${person.login}"></td>
            <td th:text="${person.password}"></td>
            <td th:text="${person.points}"></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>